#game-app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading{
  color: darkgreen;
  background-color: mintcream;
  box-shadow: rgb(108, 17, 131);
  text-align: center;
  background-position: center;
  font-weight: bold;
  font-size: xx-large;
}

.word-length-message{
  color: springgreen;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}

.display-panel{
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: start;
}

.wordlist-display-panel{ 
  margin: 60px;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  overflow-y: scroll;
}

.guessed-list-display-panel{ 
  margin: 60px;
  margin-top: 50px;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  overflow-y: scroll;
}

.matched-message-display-panel{
  margin-top: 50px;
  width: 280px;
  height: 300px;
  border: 1px solid black;
  overflow-y: scroll;
}

.guesses{
  list-style: none;
  color: darkgreen;
  font-size: large;
  font-weight: bold;
}

.invalid-warning{
  margin-top: 30px;
  text-align: center;
  font-size: large;
  color: linen; 
}

.win-message{
  margin-top: 30px;
  text-align: center;
  font-size: large;
  color: linen;
}

.word-list{
  list-style: none;
  color: darkgreen;
  font-size: large;
  font-weight: bold;
}

.word{
  margin: 20px;
  margin-bottom: 20px;
}

.match-message{
  list-style: none;
  color: cyan;
  font-weight: bold;
  text-align: start;
}

.guess-word{
  margin : 30px;
  margin-top: 50px;
  color: brown;
  height: 50px;
  width: 150px;
  text-align: center;
}

.turns-number{
  text-align: center;
  color: yellowgreen;
  font-size: large;
  margin-top: 30px;
}

.submit-button{
  margin : 30px;
  height: 50px;
  width: 150px;
  border-radius: 200px;
  text-align: center;
  background-color: crimson;
  color: aliceblue;
}

.new-game-button{
  margin-left: 30px;
  margin-top: 50px;
  height: 50px;
  width: 150px;
  border-radius: 200px;
  text-align: center;
  background-color: crimson;
  color: aliceblue;
}